# Python Statements

### If, elif, else statements
if some_condition:
    # execute some code
elif some_other_condition:
    # do something different
else:
    # do something else

In [4]:
hungry = True

if hungry:
    print("I'm hungry")
else:
    print("I'm satisfied")

I'm hungry

In [7]:
# Ternary operator also works
state = "I'm hungry" if hungry else "I'm satisified"
state

"I'm hungry"

In [10]:
# Ternary operator using tuples
eating = ("No", "Yes")[hungry]
eating

'Yes'

In [12]:
# Shorthand ternary tag
print(True or "Some")
print(False or "Some")
print(1==1 or "Not equal")

True
Some
True

### For Loops

In [13]:
my_list = [1, 2, 3]
for number in my_list:
    print(number)

1
2
3

In [15]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

In [25]:
mylist = [(1, 2), (3, 4), (5, 6)]
for tup in mylist:
    print(tup)
# unpacking is possible
for (a, b) in mylist:
    print(a)
    print(b)
# Without parentheses it also works
for a, b in mylist:
    print(a)
    print(b)

(1, 2)
(3, 4)
(5, 6)
1
2
3
4
5
6
1
2
3
4
5
6

In [28]:
d = {'key1': 1, 'key2': 2}
for item in d:
    print(item)
for item in d.items():
    print(item)
for k, v in d.items():
    print(k)
    print(v)

key1
key2
('key1', 1)
('key2', 2)
key1
1
key2
2

In [29]:
for _ in range(5):
    print("Test")

Test
Test
Test
Test
Test

### While Loops
while some_condition:
    # do something
else:
    # do something different

In [34]:
x = 0
while x < 5:
    print(f'Value: {x}')
    x += 1
else:
    print('x is greater or equal to 5')

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4
x is greater or equal to 5

In [36]:
# break, continue and pass also exist
for letter in "Hello World":
    if letter == "l":
        continue
    elif letter == " ":
        break
    print(letter)

H
e
o

### Useful operators

In [40]:
for num in range(5):
    print(num)

0
1
2
3
4

In [41]:
for num in range(5, 10):
    print(num)

5
6
7
8
9

In [42]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [46]:
for num in range(3, 0, -1):
    print(num)

3
2
1

In [47]:
for item in enumerate('Test'):
    print(item)

(0, 'T')
(1, 'e')
(2, 's')
(3, 't')

In [48]:
mylist1 = [1, 2, 3]
mylist2 = ['one', 'two', 'three']
for item in zip(mylist1, mylist2):
    print(item)

(1, 'one')
(2, 'two')
(3, 'three')

In [49]:
list(zip(mylist1, mylist2))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [50]:
'x' in [1, 2, 3]

False

In [51]:
'a' in ['a', 'b', 'c']

True

In [54]:
'e' in 'Hello world'

True

In [53]:
'key1' in {'key1': 1}

True

In [56]:
1 in {'key1': 1}.values()

True

In [59]:
mylist = [1, 2, 3, 4, 5]
print(min(mylist))
print(max(mylist))

1
5

In [67]:
from random import shuffle
mylist = [1, 2, 3, 4, 5]
# shuffle list
shuffle(mylist)
mylist

[5, 1, 3, 2, 4]

In [66]:
from random import randint
randint(0, 100)

91

In [69]:
name = input("What's your name? ")
print(f'Hello {name}')

What's your name? Manuel
Hello Manuel

### List Comprehensions
Quickly create a list

In [70]:
mylist = []
for letter in 'Hello':
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [71]:
mylist = [letter for letter in 'Hello']
mylist

['H', 'e', 'l', 'l', 'o']

In [72]:
mylist = [x for x in range(10)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# It's possible to perform operations
mylist = [x ** 2 for x in range(10)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
# It's also possible to add if statements
mylist = [x for x in range(10) if x%2 == 0]
mylist

[0, 2, 4, 6, 8]

In [79]:
results = [x if x%2==0 else 'Odd' for x in range(10)]
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [80]:
results = ['Even' if x%2==0 else 'Odd' for x in range(10)]
results

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [81]:
mylist = []
for x in [2, 4, 6]:
    for y in [1, 10, 100]:
        mylist.append(x * y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [82]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

### Assessment Test

Print only the words that start with s in the string below

In [91]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

Use range() to print all the even numbers from 0 to 10

In [84]:
for number in range(0, 11, 2):
    print(number)

0
2
4
6
8
10

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [85]:
[x for x in range(1, 51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Go through the string below and if the length of a word is even print 'even'

In [87]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2==0:
        print(word)

word
in
this
sentence
that
an
even
number
of

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers wich are multiples of both three and five print "FizzBuzz"

In [93]:
for number in range(1, 101):
    if number%3==0 and number%5==0:
        print('FizzBuzz')
    elif number%3==0:
        print('Fizz')
    elif number%5==0:
        print('Buzz')
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Use List Comprehension to create a list of the letters of every word in the string below

In [94]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']